
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.teapope.goemon">
    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="34" />
    <uses-feature android:name="android.hardware.vulkan.level" android:required="false" />
    <uses-feature android:name="android.hardware.vulkan.version" android:required="false" />
    <uses-feature android:glEsVersion="0x00030000" android:required="false" />
    <application android:label="Goemon 64: Recompiled" android:allowBackup="true">
        <activity android:name="org.libsdl.app.SDLActivity"
                  android:label="Goemon 64"
                  android:exported="true"
                  android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
